.navContainer {
  display: flex;
  column-gap: 20px;
  padding: 12px 20px;
  border-bottom: 1px solid #d1d3d6;
  position: sticky;
  top: 0;
  background: white;

  @media (min-width: 481px) and (max-width: 769px) {
    padding: 12px 40px;
    column-gap: 40px;
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    padding: 12px 60px;
    column-gap: 40px;
  }

  @media (min-width: 1025px) {
    padding: 12px 80px;
    column-gap: 40px;
  }
}

.link {
  color: #2c2c3a;
  text-decoration: none;

  &:hover,
  &.isActive {
    color: #5357ea;
  }
}
